## MYSQL Root password
MYSQL_ROOT_PASSWORD: %%{MYSQL_ROOT_PASSWORD}%%

## MYSQL database name
MYSQL_DATABASE: %%{MYSQL_DATABASE}%%

## MYSQL password
MYSQL_PASSWORD: %%{MYSQL_PASSWORD}%%

## MYSQL user
MYSQL_USER: %%{MYSQL_USER}%%

## port number
PORT: %%{PORT}%%

## ssl settings
# SSL:
#   PORT: %%{SSL_PORT}%%
#   VIRTUAL_HOST: "enter the FQDN"
